.product-card {
  display: flex;
  flex-direction: column;
  width: 40%;
  cursor: pointer;
  background-color: #fff;
  padding: 0 10px 10px 10px;
  margin: 7px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  @media (min-width: 768px) {
    width: 20%;
  }

  &__title {
    font-size: 14px;
    margin: 0 0 5px 0;
  }

  &__description {
    font-size: 12px;
    margin-top: 0;
  }
}

.product-card:hover .product-image {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
}

.product-image {
  margin: 40px;
}

.price-rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  &__price {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
  }

  &__rating {
    font-size: 14px;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f5f9;
    margin: 0;
    border-radius: 5px;
  }
}

.fa-star {
  color: #F7A301;
  margin-right: 5px;
}

// Product Card List
.product-card-list {
  display: flex;
  height: 100px;
  width: 100%;
  cursor: pointer;
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  @media (min-width: 768px) {
    margin: 7px 7px 7px 20px;
  }
}

.product-card-list:hover {
  transform: scale(1.01)
}

.list-image {
  margin: 10px;
  @media (min-width: 768px) {
    margin: 0;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-right: 30px;

  &__title {
    font-size: 12px;
    margin: 0 0 5px 0;
    @media (min-width: 768px) {
      font-size: 14px;
    }
  }

  &__description {
    font-size: 9px;
    margin-top: 0;
    @media (min-width: 768px) {
      font-size: 12px;
    }
  }
}

.price-rating-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 20%;

  &__price {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    @media (min-width: 768px) {
      font-size: 14px;
    }
  }

  &__rating {
    font-size: 14px;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f5f9;
    margin: 0;
    border-radius: 5px;
  }
}