@import '../../assets/fonts';

body {
  font-family: 'Maven Pro';
  margin: 0;
}

.header {
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #EB145F;
  padding: 0 20px;
  border-bottom: 1px solid #fcf2f6;

  &__pricerunner {
    font-size: 28px;
    margin: 0;
  }
}

.container {
  background-color: #fcf2f6;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
}
