// Filter Bar
.filter-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px;
  background-color: #ebeff5;
  border-radius: 20px;
  margin: 0 0 15px 0;
  color: #282B30;
  
  @media (min-width: 768px) {
    padding: 30px;
    margin: 10px 10px 0 0;
    width: fit-content;
    height: fit-content;
  }
  &__text {
    font-weight: bold;
    margin-right: 5px;
    font-size: 12px;
    @media (min-width: 768px) {
      font-size: 14px;
    }
  }
}

.button-show-all {
  padding: 10px;
  height: fit-content;
  background-color: #dfe4eb;
  border-radius: 10px;
  font-size: 11px;
  margin: 0 3px;
  &:hover, &:focus {
    background-color: #d1d8e3;
  }
  @media (min-width: 768px) {
    font-size: 14px;
    margin: 5px 0;
  }
}

.show-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #d1d8e3;
  margin: 10px 0 10px 0;
  padding: 0 5px;
  @media (min-width: 768px) {
    flex-direction: column;
    align-items: flex-end;
    border-top: 1px solid #d1d8e3;
    border-bottom: none;
    margin: 20px 0 0 0;
    padding: 0;
  }
}

.table-list-container {
  display: flex;
  align-items: center;
  @media (min-width: 768px) {
    flex-direction: column;
  }

  &__text {
    margin: 0;
    display: flex;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.6px;
    @media (min-width: 768px) {
      font-size: 14px;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      margin: 14px 0 0 0;
    }
  }
}

.icons {
  display: flex;
  font-size: 2px;
  margin: 4px 0 0 4px;
  @media (min-width: 768px) {
    margin: 4px 0 8px 0;
  }
}

.icon-button {
  font-size: 16px;
  cursor: pointer;
  &:hover, &:focus {
    color: #d1d8e3;
  }
  @media (min-width: 768px) {
    font-size: 22px;
  }
}

// Filter Brand
.select-container {
  @media (min-width: 768px) {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    border-top: 1px solid #d1d8e3;
    width: 100%;
    padding-top: 20px;
  }
}

.select {
  padding: 7px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  color: #282B30;
  font-family: 'Francois One';
  letter-spacing: 0.6px;
  
  &:hover, &:focus {
    background-color: #d1d8e3;
  }
}

// Sorting
.button-container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  margin-top: 5px;
  padding-left: 5px;
  @media (min-width: 768px) {
    flex-direction: column;
    align-items: flex-end;
    border-top: 1px solid #d1d8e3;
    width: 100%;
    margin-top: 20px;
  }

  &__text {
    font-weight: bold;
    margin-right: 5px;
    font-size: 12px;
    letter-spacing: 0.6px;
    @media (min-width: 768px) {
      font-size: 14px;
    }
  }

  &__button {
    padding: 7px;
    height: fit-content;
    background-color: #dfe4eb;
    font-size: 11px;
    margin: 0 3px;
    &:hover, &:focus {
      background-color: #d1d8e3;
    }
    @media (min-width: 768px) {
      font-size: 14px;
      margin: 5px 0;
    }
  }
}
